
#army h1{
    text-align: center;
    font-size: 2.4rem;
  color:rgb(5, 151, 5);
  margin: 30px;
}
.army-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.army-container img{
    height: 400px;
    width: 100%;

}
#army p strong{
    color: rgb(235, 116, 19);
    font-size: 1.5rem;
}
.army-container .army-text {
    /* margin: 10px; */
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    padding: 10px;
    height: 500px;
    width: 50%;
   color: gray;
  
}
.army-container2{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: darkgreen;
}
 img{
    height: 700px;
    width: 800px;
}
footer{ background-image: url("greenfooter2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    padding: 30px ;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    
}

footer .menu-items { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
   flex-wrap: wrap;
   z-index: 1;
   
  
}
footer p { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem; 
    margin: 10px;
    padding: 10px;
   flex-wrap: wrap;
color: rgb(2, 66, 47);
font-weight: 600;

}

.menu-items li{
    list-style: none;
   margin: 10px ;
   padding: 10px;
   font-weight: 600;
 }
.menu-items li a{ display: inline-block;
    color: green;
    text-decoration: none;
    text-transform: capitalize;
}